@charset "UTF-8";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  width: 100%;
  background-color: black;
  background-image: url("/src/images/FondoData.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.data_contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.data_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data_inputs-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 40%;
  padding: 15px 30px;
  border-radius: 15px;
  color: white;
}

.data_inputs-byd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  height: auto;
}

.data_inputs-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15%;
  padding: 15px 30px;
  border-radius: 15px;
}

.data_mezcla {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data_resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  height: 55%;
  margin: 0 auto;
}

.data_resultados-escenas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 25%;
  padding: 15px 30px;
  border-radius: 15px;
  color: white;
}

.data_resultados-excitacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 20%;
  padding: 15px 30px;
  border-radius: 15px;
  color: white;
}

.data_resultados-bailarines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 16%;
  padding: 15px 30px;
  border-radius: 15px;
  color: white;
}

.data_msj {
  font-family: 'Mulish', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inputs {
  padding: 12px 20px 5px 12px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin: 0;
}

.input_pequeño {
  background-color: #484848;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 50px;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
}

.data_inputs-nombreInput {
  font-size: 16px;
}

.etiqueta {
  font-size: 20px;
  font-family: 'Mulish', sans-serif, 600;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 95%;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  margin: auto;
}

.contenedor_mezcla {
  margin-left: 28px;
  padding: auto;
  width: 300px;
  border-radius: 10px;
  height: 30px;
}

.btn-generar {
  width: 160px;
  font-family: 'Mulish', sans-serif, 800;
}

.titulo {
  font-family: 'Mulish', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.li_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(207, 207, 207, 0.747);
  width: 60%;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  margin: 10px auto;
}

.btn_mas {
  font-size: 15px;
  height: 40px;
  width: 100px;
}
/*# sourceMappingURL=Data.css.map */