@charset "UTF-8";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 663px;
  height: auto;
  width: 100%;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.data_contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.data_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data_inputs-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 40%;
  padding: 15px 30px;
  border-radius: 15px;
  color: white;
}

.data_inputs-byd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  height: auto;
}

.data_inputs-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15%;
  padding: 15px 30px;
  border-radius: 15px;
}

.data_mezcla {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data_resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  height: 55%;
  margin: 0 auto;
}

.data_resultados-titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  height: 40px;
  background-color: #c75fa6;
  color: white;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
}

.data_resultados-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 22%;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.data_msj {
  font-family: 'Mulish', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inputs {
  padding: 12px 20px 5px 12px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin: 0;
}

.input_pequeño {
  background-color: #484848;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 50px;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
}

.data_inputs-nombreInput {
  font-size: 16px;
}

.etiqueta {
  font-size: 20px;
  font-family: 'Mulish', sans-serif, 600;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #646464;
  width: 95%;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  margin: auto;
}

.contenedor_mezcla {
  margin-left: 28px;
  padding: auto;
  width: 300px;
  border-radius: 10px;
  height: 30px;
}

.btn-generar {
  width: 160px;
  font-family: 'Mulish', sans-serif, 800;
}

.titulo {
  font-family: 'Mulish', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 20px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.li_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(100, 100, 100, 0.9);
  width: 90%;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  margin: 10px auto;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_mas {
  font-size: 15px;
  height: 40px;
  width: 100px;
}

.barrita {
  width: 17%;
  height: 20px;
  color: white;
}

.data_resultados-grafica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px;
  width: 93%;
  height: auto;
  background-color: green;
  margin: 0 auto;
}

.data_resultados-posicion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  height: 130px;
  background-color: blue;
}

.data_resultados-abajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  height: 400px;
  background-color: red;
}

.data_resultados-escenas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 100%;
  background-color: white;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chart {
  padding: 20px;
  width: 80%;
  height: 90%;
}

.titulos_grafica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 20%;
  height: 100%;
  background-color: brown;
}

.titulos_grafica-grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 20%;
  height: 100%;
  background-color: rebeccapurple;
}

.escena {
  background-color: #c75fa6;
  height: 70%;
  width: 160px;
}

.inputTime::-webkit-datetime-edit-ampm-field {
  display: none !important;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}
/*# sourceMappingURL=Data.css.map */